<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>cotacao</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Moeda</th>
                <th>Bit Preço</th>
            </tr>
        </thead>
        {% for row in dados %}
        <tr>
            <td>{{row.currency}}</td>
            <td>{{row.bit_preco}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>